---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://jasonnellis.com/</loc></url>
  <url><loc>https://jasonnellis.com/about</loc></url>
  <url><loc>https://jasonnellis.com/blog</loc></url>
  <url><loc>https://jasonnellis.com/speaking</loc></url>
  <url><loc>https://jasonnellis.com/now</loc></url>
  <url><loc>https://jasonnellis.com/contact</loc></url>
{%- for essay in collections.essays %}
  <url><loc>https://jasonnellis.com{{ essay.url }}</loc></url>
{%- endfor %}
</urlset>
